.the-header {
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  background-color: #fff;
}
.the-header .logo {
  display: inline-block;
  color: #2EB7FC;
  float: left;
  padding: 10px 0;
}
.the-header a {
  color: #8492A5;
  text-decoration: none;
}
a.menuBtn {
  display: none;
  cursor: pointer;
}
.main-nav {
  display: inline-block;
  float: right;
  padding-top: 15px;
}
.main-nav li {
  display: inline-block;
  margin-top: 20px;
  padding: 0px 15px;
}
@media screen and (max-width: 768px) {
  a.menuBtn {
    display: inline-block;
    float: right;
    padding: 30px;
  }
  .main-nav {
    display: none;
    width: 100%;
  }
  .main-nav.active {
    display: block;
  }
  .main-nav li {
    padding-bottom: 4px;
    text-align: center;
    display: block;
  }
}
.menuBtn {
  position: absolute;
  top: 10px;
  right: 30px;
  z-index: 101;
}
.lines {
  position: absolute;
  width: 60%;
  height: 2px;
  background-color: #2EB7FC;
  border-radius: 3px;
  transition: all 200ms;
}
.menuBtn > span:after,
.menuBtn > span:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #2EB7FC;
  border-radius: 3px;
  transition: all 200ms;
}
.menuBtn > span:after {
  top: -7px;
}
.menuBtn > span:before {
  bottom: -7px;
}
.menuBtn.act > span {
  height: 0;
}
.menuBtn.act > span:before,
.menuBtn.act > span:after {
  top: 1px;
}
.menuBtn.act > span:before {
  transform: rotate(-45deg);
}
.menuBtn.act > span:after {
  transform: rotate(45deg);
}
.dropdown-menu li {
  display: block;
  width: 100%;
}
.dropdown-menu {
  position: absolute;
  top: 60px;
  left: 0;
  z-index: 1000;
  display: none;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: center;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
body {
  font-family: 'Titillium Web', sans-serif;
  background-color: #F7F7F7;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
.content-block {
  margin-top: 40px;
}
.main-type {
  text-align: center;
  margin-top: 200px;
}
.main-type h1 {
  font-size: 70px;
  font-weight: 800;
}
.main-type h2 {
  font-size: 60px;
  color: #2EB7FC;
  font-weight: 800;
  margin-bottom: 300px;
}
.block {
  text-align: center;
  background-color: #F4F8FA;
}
.block h1 {
  margin: 40px 0;
  font-size: 30px;
}
.block p {
  margin: 40px 0;
}
.typed-cursor {
  opacity: 1;
  font-weight: 100;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  -ms-animation: blink 0.7s infinite;
  -o-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}
@-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.block2 {
  text-align: center;
  background-color: #EBF7FF;
  padding-bottom: 70px;
}
.block2 h1 {
  text-align: center;
  margin: 50px 0;
  font-size: 30px;
}
.block2 .primary {
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
  margin-top: 10px;
}
.block2 .primary h3 {
  margin-top: 20px;
}
.block3 {
  background-color: #EBF7FF;
}
.block3 h1 {
  text-align: center;
  margin: 40px 0;
}
footer {
  padding: 40px 0px;
  background-color: #2E3333;
  text-align: center;
}
.main-footer li {
  display: inline-block;
  padding: 10px 10px;
}
.main-footer li a {
  color: #fff;
}
.social-network li {
  display: inline-block;
  padding: 10px 10px;
}
.social-network li a {
  color: #fff;
}
.reserved h3 {
  color: #fff;
}
.form-create .btn {
  margin-top: 20px;
}
.btn {
  margin-top: 10px;
}
.categories li {
  list-style: none;
  text-align: center;
  text-decoration: none;
  padding: 20px 20px;
  border: 1px solid #ccc;
  margin: 20px 0;
  border-radius: 4px;
}
.categories li:hover {
  background-color: #2EB7FC;
}
.categories li:hover a {
  color: #fff;
  text-decoration: none;
}
.categories {
  padding: 40px 0;
}
.categories h1 {
  padding-bottom: 20px;
  font-size: 30px;
}
.client-block {
  width: 600px;
  height: 200px auto;
  max-width: 100%;
  background-color: #fff;
  margin: 10px auto;
  border-radius: 3px;
  border: 1px solid #ccc;
}
.client-block li {
  display: inline-block;
  padding: 20px 10px;
}
.description p {
  padding: 20px;
}
table {
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 0 auto;
  width: 100%;
}
table th,
td {
  border: 1px solid #AFAFB5;
  text-align: center;
  padding: 15px;
  max-width: 100%;
}
table th {
  background-color: #CDCBD6;
  font-weight: 800;
}
table tr,
td {
  cursor: pointer;
}
.showBlock {
  margin: 0 auto;
  background-color: #EBF7FF;
  border: 1px solid #ccc;
  width: 100%;
  border-radius: 3px;
  padding: 20px;
}
.showBlock h1,
h3 span {
  font-family: arial;
}
.showBlock p span {
  font-family: arial;
  font-size: 20px;
}
iframe {
  margin: 0 auto;
  width: 100%;
  height: 300px;
}
/*# sourceMappingURL=app.css.map */