body{
	font-family: 'Titillium Web', sans-serif;
	background-color: #F7F7F7;
	

}

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	list-style: none;
}

a{
	text-decoration: none;
}

.content-block{
	margin-top: 40px;
}





































