.categories li{
	list-style: none;
	text-align: center;
	text-decoration: none;

	padding: 20px 20px;
	border:1px solid #ccc;
	margin: 20px 0;
	border-radius: 4px;
	&:hover{
		background-color: #2EB7FC;
		
		a{
			color: #fff;
			text-decoration: none;
		}
	}

}

.categories{
	padding: 40px 0;
}

.categories h1{
	padding-bottom: 20px;
	font-size: 30px;
}