.client-block{
	width: 600px;
	height: 200px auto;
	max-width: 100%;
	background-color: #fff;
	
	margin: 10px auto;
	border-radius: 3px;
	border:1px solid #ccc;

}

.client-block li{
	display: inline-block;
	padding: 20px 10px;
}

.description p{
	padding: 20px;
}

table{
	border:1px solid #ccc;
	border-radius: 10px;
	margin: 0 auto;
	width: 100%;
}

table th,td{
	border:1px solid #AFAFB5;
	text-align: center;
	padding: 15px;
	max-width: 100%;
}
table th{
	background-color: #CDCBD6;
	font-weight: 800;
}
table tr,td{
	cursor: pointer;
}


.showBlock{
	margin: 0 auto;
	background-color: #EBF7FF;
	border:1px solid #ccc;
	width: 100%;
	border-radius: 3px;
	padding: 20px;
}
.showBlock h1, h3 span{
	font-family: arial;
}
.showBlock p span{
	font-family: arial;
	font-size: 20px;
}













