.block2{
	text-align: center;

	background-color: #EBF7FF;
	padding-bottom: 70px;
	h1{
		text-align: center;
		margin: 50px 0;
		font-size: 30px;
	}
	.primary{
		background-color: #fff;
		padding: 20px;
		border-radius: 4px;
		margin-top: 10px;

		h3{
			margin-top: 20px;
		}
		
	}

}

