footer{
	padding: 40px 0px;
	background-color: #2E3333;
	text-align: center;
}
.main-footer li{
	display: inline-block;
	padding: 10px 10px;
	a{
		color: #fff;
	}
}

.social-network li{
	display: inline-block;
	padding: 10px 10px;
	a{
		color: #fff;
	}
}

.reserved h3{
	color: #fff;
}