
.the-header {
	border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  background-color: #fff;


  
  .logo  {
    display: inline-block;
    color: #2EB7FC;
    float: left;
    padding: 10px 0;
  
  }
  a {
     color: #8492A5; 
     text-decoration: none;
  }
}
a.menuBtn{
	display: none;
  cursor: pointer;
}
.main-nav {
  display: inline-block;
  float: right;
  padding-top: 15px;
  li {
    display: inline-block;
    margin-top: 20px;
    padding: 0px 15px;
   
    
}
}
@media screen and (max-width: 768px) {
  a.menuBtn{ 
    display: inline-block; 
    float: right; 
    padding: 30px;
   
  }
  .main-nav {
    display: none;
    width: 100%;

    &.active {
      display: block;
    }
    li {
      padding-bottom: 4px;
    	text-align: center;
      display: block;
    
     
    }
  }
}
.menuBtn{
	position: absolute;
	// height: 0px;
	// width: 0px;
	top: 10px;
	right: 30px;
	z-index: 101;
}
.lines {
	position: absolute;
	width: 60%;
	height: 2px;
	background-color: #2EB7FC;
	border-radius: 3px;	
	transition: all 200ms;
}
.menuBtn >span:after,
.menuBtn > span:before{
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: #2EB7FC;
	border-radius: 3px;
	transition: all 200ms;
}
.menuBtn > span:after{
	top: -7px;
}
.menuBtn > span:before{
	bottom: -7px;
}
.menuBtn.act > span{
	height: 0;
}

.menuBtn.act > span:before,
.menuBtn.act > span:after{
	top: 1px;
}
.menuBtn.act > span:before{
	transform: rotate(-45deg);
}
.menuBtn.act > span:after{
	transform: rotate(45deg);
}





.dropdown-menu li{
  display: block;
  width: 100%;
}

.dropdown-menu {
    position: absolute;
    top: 60px;
    left: 0;
    z-index: 1000;
    display: none;
   
    
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: center;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 3px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}





















